* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.dropdown {
    position: relative;
    width: 300px;
}

.dropdown-button {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.search-container {
    position: relative;
    width: 95%;
    margin: 10px auto;
}

.dropdown-content input {
    width: 100%;
    padding: 15px 40px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

/* Custom Scrollbar Styling */
.dropdown-content::-webkit-scrollbar {
    width: 5px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #888;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;
}

.dropdown-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.hide {
    display: none;
}